<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MyTest</title>
</head>
<body style="padding:0; margin: 0 auto; background: #fff;">
<div style="text-align: center; font-size: 0;margin-top:30px;">
 <canvas id="gameCanvas" width="600" height="600">
  Your browser does not support the canvas tag
 </canvas>
</div>

</body>
</html>
<script src="/app/cocos2d.js"></script>
